  canvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      margin: 0;
      background-position: center;
      z-index: -1;
  }
  
  html {
      scroll-behavior: smooth;
  }